@model List<BL.Entities.RobinhoodFare.AirFare.Reissue>

<head>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Reissue List</h6>
            @*<a href="@Url.Action("MarkupDetail", new { id = Guid.Empty })" class=" d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-file-export text-white-50"></i>
                    Export
                </a>*@
        </div>
    </div>
    <div class="card-body">

        @using (Html.BeginForm("SearchFlightList", "Report", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal row-fluid cmxform", id = "formCreate", name = "formCreate" }))
        {
            List<SelectListItem> selectListPayment = new List<SelectListItem>
{
        new SelectListItem{ Text="--", Value = "00" },
        new SelectListItem{ Text="Bank Tranfer", Value = "01" },
        new SelectListItem{ Text="K-Bank", Value = "02" },
        new SelectListItem{ Text="Pay Solutions", Value = "03" },
    };

            List<SelectListItem> selectListBookigStatus = new List<SelectListItem>
{
        new SelectListItem{ Text="--", Value = "00" },
        new SelectListItem{ Text="Waiting for payment", Value = "01" },
        new SelectListItem{ Text="Paid", Value = "02" },
        new SelectListItem{ Text="Cancel", Value = "03" },
    };
            List<SelectListItem> selectListSourceBy = new List<SelectListItem>
{
        new SelectListItem{ Text="--", Value = "00" },
        new SelectListItem{ Text="Web", Value = "01" },
        new SelectListItem{ Text="App", Value = "02" },
    };


@*<div class="row">
        <table class="table table-bordered">
            <thead class="table-gradient">
                <tr>
                    <th style="color:#FBAA09;">Payment Method</th>
                    <th style="color:#FBAA09;">Booking Date</th>
                    <th style="color:#FBAA09;">Pay Before</th>
                    <th style="color:#FBAA09;">Source By</th>
                    <th style="color:#FBAA09;">Booking Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@Html.DropDownList("Payment", selectListPayment, new { @class = "form-control form-control-sm", @width = "100%" })</th>
                    <th><input type="text" style="background-color:#fff" name="bookingdate" id="bookingdate" value="" class="form-control form-control-sm" readonly /><i class="fa fa-calendar-alt" style="margin-top: -24px;float: right;padding-right: 8px;color:#FBAC02;"></i></th>
                    <th><input type="text" style="background-color:#fff" name="paybefore" id="paybefore" value="" class="form-control form-control-sm" readonly /><i class="fa fa-calendar-alt" style="margin-top: -24px;float: right;padding-right: 8px;color:#FBAC02;"></i></th>
                    <th>@Html.DropDownList("SourceBy", selectListSourceBy, new { @class = "form-control form-control-sm", @width = "100%" })</th>
                    <th>@Html.DropDownList("BookingStatus", selectListBookigStatus, new { @class = "form-control form-control-sm", @width = "100%" })</th>
                    <th style="text-align:center;"><button type="submit" class="btn btn-primary" style=""><i class="fas fa-search"></i>&nbsp;Search</button></th>
                </tr>
            </tbody>
        </table>

    </div>*@
}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="grid" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align:center; background-color:#FBAC02; color:white;">CreateDate</th>
                        <th style="text-align:center; background-color:#FBAC02; color:white;">Status</th>
                        @*<th style="text-align:center; background-color:#FBAC02; color:white;">PNR</th>*@
                        <th style="text-align:center; background-color:#FBAC02; color:white;">Type Change</th>
                        <th style="text-align:center; background-color:#FBAC02; color:white;">Detail Change</th>
                        <th style="background-color:#FBAC02;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var report in Model)
                    {
                        <tr>
                            @if (report != null)
                            {
                                <td align="center">
                                    @(report.reissueCreateDate.ToString("dd/MM/yyyy"))
                                </td>
                            }
                        <td align="center">
                            @switch (report.status)
                            {
                                case 0:<span style="background-color:#999999;padding:2px 10px;border-radius:10px;color:white;">
                                        <b>
                                            <label>None-รอการระบุ</label>
                                        </b>
                                    </span>; break;
                                case 1: <span style="background-color:#FBAC02;padding:2px 10px;border-radius:10px;color:white;">
                                        <b>
                                            <label>Precressing-กำลังดำเนินการ</label>
                                        </b>
                                    </span>; break;
                                case 2: <span style="background-color:#00fa9a;padding:2px 10px;border-radius:10px;color:white;">
                                        <b>
                                            <label>Updated-เปลี่ยนแล้ว</label>
                                        </b>
                                    </span>; break;
                                case 3: <span style="background-color:#00fa9a;padding:2px 10px;border-radius:10px;color:white;">
                                        <b>
                                            <label>CustomerRequest-ลูกค้าเปลี่ยนเอง</label>
                                        </b>
                                    </span>; break;
                            }
                        </td>

                            @*<td align="center">
                                
                                
                            </td>*@
                            <td align="center">
                                @switch (report.typeChage)
                                {
                                    case 0:<span style="background-color:#999999;padding:2px 10px;border-radius:10px;color:white;">
                                            <b>
                                                <label>None-รอการระบุ</label>
                                            </b>
                                        </span>; break;
                                    case 1: <span style="background-color:#FBAC02;padding:2px 10px;border-radius:10px;color:white;">
                                            <b>
                                                <label>Reissue</label>
                                            </b>
                                        </span>; break;
                                    case 2: <span style="background-color:#00fa9a;padding:2px 10px;border-radius:10px;color:white;">
                                            <b>
                                                <label>Revalidate</label>
                                            </b>
                                        </span>; break;
                                }
                            </td>
                            <td align="center">
                                @switch (report.detailChage)
                                {
                                    case 0:<span style="background-color:#999999;padding:2px 10px;border-radius:10px;color:white;">
                                            <b>
                                                <label>None-รอการระบุ</label>
                                            </b>
                                        </span>; break;
                                    case 1: <span style="background-color:#FBAC02;padding:2px 10px;border-radius:10px;color:white;">
                                            <b>
                                                <label>Flight/Date Change</label>
                                            </b>
                                        </span>; break;
                                    case 2: <span style="background-color:#00fa9a;padding:2px 10px;border-radius:10px;color:white;">
                                            <b>
                                                <label>Upgrade</label>
                                            </b>
                                        </span>; break;
                                    case 3: <span style="background-color:#00fa9a;padding:2px 10px;border-radius:10px;color:white;">
                                            <b>
                                                <label>Re-route</label>
                                            </b>
                                        </span>; break;
                                    case 4: <span style="background-color:#00fa9a;padding:2px 10px;border-radius:10px;color:white;">
                                            <b>
                                                <label>DOB-Change</label>
                                            </b>
                                        </span>; break;
                                    case 5: <span style="background-color:#00fa9a;padding:2px 10px;border-radius:10px;color:white;">
                                            <b>
                                                <label>Title/Name/Midle/Surname Change</label>
                                            </b>
                                        </span>; break;
                                }
                            </td>

                            <td>
                                <a href="@Url.Action("FlightReissueDetail", new { id = report.FlightBookingReissueOID })">
                                    <span><i class="fas fa-eye"></i> View</span>
                                </a><br />
                            </td>

                            @*<td align="center">
                                    @report.Svc_class
                                </td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        @*var isSave = '@Request["save"]';
        $(document).ready(function () {
            $('#grid').DataTable({
                columnDefs: [{
                    "orderable": false,
                    "targets": [4]
                }, {
                    "render": function (data, type) {
                        if (type == 'sort') {
                            return data + '';
                        } else {
                            var html = '';
                            if (data == 1) {
                                html = '<i class="fas fa-check" style= "color: #00ff21" ></i>'
                            } else {
                                html = '<i class="fas fa-times" style= "color: #ff0000" ></i>'
                            }
                            return html;
                        }
                    },
                    "targets": [0]
                }]
            });*@

        var isSave = '@Request["save"]';
        $(document).ready(function () {
            $('#grid').DataTable({
                columnDefs: [ { type: 'date', 'targets': [1] } ],
                order: [1],
                pageLength: 50,
                dom: 'lfrtBip',
                buttons: [
                    'csv', 'excel','pdf', 'print'
                ],
                searching: true,
                lengthMenu: [[50, 100, -1], [50, 100, "All"]]
            });


            if (isSave == 't') {
                new PNotify({
                    title: 'Success',
                    text: 'Data have been updated',
                    type: 'success',
                    styling: 'bootstrap3',
                    delay: 2000,
                    nonblock: {
                        nonblock: true
                    },
                    buttons: {
                        show_on_nonblock: true
                    }
                });
            }
        });



    var deleteRow = function (id, name) {
    if (confirm("Do you want to delete " + name + "?")) {
    window.location.href = '@Url.Action("MarkupDelete")' + '/' + id;
    }
            }

    $("#txtPickupDate").datepicker({
                startDate: $("#StartPickupDate").val(),
                format: 'dd/mm/yyyy',
        autoclose: true,
                language: 'en'
    });

     $('input[name="bookingdate"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('input[name="bookingdate"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
        });

        $('input[name="bookingdate"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });



        $('input[name="paybefore"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('input[name="paybefore"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
        });

        $('input[name="paybefore"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');


        });
    </script>
}




