@*@model BackOffice.Models.FlightReportList*@
@*@model DataModel.FlightBooking*@

@model  BL.Entities.RobinhoodFare.AirFare

@using (Html.BeginForm("Details", "Report", FormMethod.Post, new { data_parsley_validate = "", @class = "form-horizontal form-label-left", role = "form", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.bookingOID)

    <div class="row">
        <div class="col-lg-12">
            <div class="card-header py-3" style="text-align:right;">
                @*<div class="d-sm-flex align-items-center justify-content-between">*@
                <a href="@Url.Action("FlightReportList")" class=" d-sm-inline-block btn btn-sm btn-warning shadow-sm">
                    <i class="fas fa-chevron-circle-left fa-sm text-white-50"></i>
                    Back
                </a>
               
                <a href="@Url.Action("FlightReportDetailEdit", new { id = Model.bookingOID })" class=" d-sm-inline-block btn btn-sm btn-primaryblue shadow-sm">
                    <i class="fas fa-edit"></i>
                    Edit
                </a>
                @*</div>*@
            </div>
        </div>
    </div>


    <div class="row">
        @*<div class="col-lg-12">*@
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-edit"></i>&nbsp;Ticketing Task</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-1">
                        <div class="col-lg-3" style="text-align:right;">
                            Pay Before :
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-5 text">
                            <input type="text" value="@Model.TKTL.ToString("dd/MM/yyyy HH:mm:ss tt")" maxLength="10" class="form-control form-control-sm" readonly />
                            @*@Html.TextBoxFor(m => m.TKTL, "{0:yyyy-MM-dd}", new { required = "required", @class = "form-control form-control-sm", @type = "date", @id = "datetime1", @readonly = "readonly" })*@
                        </div>

                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-3 text">

                        </div>

                        <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                            Distcount Code :
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5 text">
                            -
                        </div>



                        <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                            Discount Price(฿) :
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5 text">
                            <input type="text" class="form-control form-control-sm" placeholder="0.00" readonly>
                        </div>


                        <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                            Payment Status :
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5 text">
                            @{
                                SelectList selectListStatusPayment = (SelectList)ViewData["StatusPaymentList"];
                            }
                            @*//ใน text บวก value จาก controller มาด้วย*@
                            @Html.DropDownListFor(m => m.statusPayment, selectListStatusPayment.OrderBy(x => x.Value).Select(s => new SelectListItem { Text = (s.Text), Value = s.Value.ToString(), Selected = (Model.statusPayment == Convert.ToInt32(s.Value)) }), new
                                               {
                                                   @class = "form-control ADT-TT-",
                                                   required = "required",
                                @readonly = "readonly",
                                @disabled = "disabled"
                                               })
                        </div>



                        <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                            Payment Method :
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5 text">
                            @{
                                SelectList selectListpaymentMethod = (SelectList)ViewData["PaymentMethodList"];
                            }


                            @*//ใน text บวก value จาก controller มาด้วย                   Orderby(x=>x.Text จะเรียงตามตัวอักษร x.value เรียงตาม id)*@
                            @Html.DropDownListFor(m => m.paymentMethod, selectListpaymentMethod.OrderBy(x => x.Value).Select(s => new SelectListItem { Text = (s.Text), Value = s.Value.ToString(), Selected = (s.Value == Model.paymentMethod.ToString()) }), new
                                               {
                                                   @class = "form-control ADT-TT-",
                                               required = "required",
                                @readonly = "readonly",
                                @disabled = "disabled"
                                               })

                        </div>



                        <div class="col-lg-3" style="text-align:right;">
                            Total(฿) :
                        </div>
                        <div class="col-lg-3 text">
                            @Model.grandTotal.ToString("N2")
                        </div>

                        @*<div class="col-lg-3" style="text-align:right;">
                                NetTotal :
                            </div>
                            <div class="col-lg-3 text">
                                <input type="text" class="form-control form-control-sm" readonly>
                            </div>*@

                        <div class="col-lg-3" style="text-align:right;">
                            Status :
                        </div>
                        <div class="col-lg-3 text">
                            @{
                                SelectList selectListStatusBooking = (SelectList)ViewData["StatusBookingList"];
                            }


                            @*//ใน text บวก value จาก controller มาด้วย                   Orderby(x=>x.Text จะเรียงตามตัวอักษร x.value เรียงตาม id)*@
                            @Html.DropDownListFor(m => m.statusBooking, selectListStatusBooking.OrderBy(x => x.Value).Select(s => new SelectListItem { Text = (s.Text), Value = s.Value.ToString(), Selected = (s.Value == Model.statusBooking.ToString()) }), new
                                               {
                                                   @class = "form-control ADT-TT-",
                                               required = "required",
                                @readonly = "readonly",
                                @disabled = "disabled"
                                               })
                        </div>

                        @*<div class="col-lg-3" style="text-align:right;">
                                Margin :
                            </div>
                            <div class="col-lg-3 text">
                                <input type="text" class="form-control form-control-sm" readonly>
                            </div>*@

                    </div>

                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-edit"></i>&nbsp;Booking Detail</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-1">
                        <div class="col-lg-3" style="text-align:right;">
                            PNR :
                        </div>
                        <div class="col-lg-3 text">
                            <span style="background-color:#FBAC02;padding:2px 10px;border-radius:10px;color:white;"><b>@Model.PNR</b></span>
                        </div>



                        <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                            Booking Date :
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5 text">
                            @Model.bookingDate.ToString("dd MMMM yyyy HH:mm:ss tt")
                            @*@Html.TextBoxFor(m => m.bookingDate, "{0:yyyy-MM-dd}", new { required = "required", @class = "form-control form-control-sm", @type = "date", @id = "datetime1", @readonly = "readonly" })*@
                        </div>



                        <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                            From City :
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5 text">
                            @if (Model.depFlight != null && Model.depFlight.Count > 0)
                            {
                                @Model.depFlight[0].depCity.code
                            }
                        </div>



                        <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                            To City :
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5 text">
                            @if (Model.depFlight != null && Model.depFlight.Count > 0)
                            {
                                @Model.depFlight[Model.depFlight.Count - 1].arrCity.code
                            }
                        </div>

                        <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                            Airline :
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5 text">
                            @if (Model.depFlight != null && Model.depFlight.Count > 0)
                            {
                                @Model.depFlight[0].airline.code
                            }
                        </div>

                        <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                            No Of Pax :
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5 text">
                            @(Model.noOfAdults + Model.noOfChildren + Model.noOfInfants)
                            @*<input type="text" class="form-control form-control-sm" value="@(Model.noOfAdults+Model.noOfChildren+Model.noOfInfants)" readonly>*@
                        </div>

                        @*<div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                                Segment/PNR :
                            </div>
                            <div class="col-lg-3 col-md-5 col-sm-5 text">
                                -
                            </div>

                            <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                                All Segment :
                            </div>
                            <div class="col-lg-3 col-md-5 col-sm-5 text">
                                -
                            </div>*@

                        <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                            Discount :
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5 text">
                            -
                        </div>

                        <div class="col-lg-3 col-md-5 col-sm-5" style="text-align:right;">
                            Total(฿) :
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-5 text">
                            @Model.grandTotal.ToString("N0")
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-edit"></i>&nbsp;Contact Detail</h6>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-1">
                        @if (Model.contactInfo.firstname != null && Model.contactInfo.email != null && Model.contactInfo.telNo != null)
                        {
                            <div class="col-lg-1" style="text-align:right;">
                                Title :
                            </div>
                            <div class="col-lg-2 text">
                                <input type="text" class="form-control form-control-sm" value="@Model.contactInfo.title" readonly>
                            </div>

                            <div class="col-lg-1 col-md-5 col-sm-5" style="text-align:right;">
                                First Name :
                            </div>
                            <div class="col-lg-2 col-md-5 col-sm-5 text">
                                <input type="text" class="form-control form-control-sm" value="@Model.contactInfo.firstname" readonly>
                            </div>

                            <div class="col-lg-1 col-md-5 col-sm-5" style="text-align:right;">
                                Middle Name :
                            </div>
                            <div class="col-lg-2 col-md-5 col-sm-5 text">
                                <input type="text" class="form-control form-control-sm" value="@Model.contactInfo.middlename" readonly>
                            </div>

                            <div class="col-lg-1 col-md-5 col-sm-5" style="text-align:right;">
                                Last Name :
                            </div>
                            <div class="col-lg-2 col-md-5 col-sm-5 text">
                                <input type="text" class="form-control form-control-sm" value="@Model.contactInfo.lastname" readonly>
                            </div>

                            <div class="col-lg-1 col-md-5 col-sm-5" style="text-align:right;">
                                Email :
                            </div>
                            <div class="col-lg-2 col-md-5 col-sm-5 text">
                                <input type="text" class="form-control form-control-sm" value="@Model.contactInfo.email" readonly>
                            </div>

                            <div class="col-lg-1 col-md-5 col-sm-5" style="text-align:right;">
                                Phone number:
                            </div>
                            <div class="col-lg-2 col-md-5 col-sm-5 text">
                                <input type="text" class="form-control form-control-sm" value="@Model.contactInfo.telNo" readonly>
                            </div>
                        }
                    </div>

                </div>
                <div class="card-footer">
                    <div class="text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-sm-flex1 align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-plane"></i>&nbsp;Passenger Details</h6>
                <a href="@Url.Action("FlightReportRefundDetail", new { id = Model.bookingOID })" class=" d-sm-inline-block btn btn-sm btn-warning shadow-sm" style="margin-right:5px;">
                    <i class="fas fa-plus"></i>
                    Refund
                </a>
                <a href="@Url.Action("FlightReportReissueDetail", new { id = Model.bookingOID })" class=" d-sm-inline-block btn btn-sm btn-warning shadow-sm">
                    <i class="fas fa-plus"></i>
                    Reissue/Revalidate
                </a>
            </div>
        </div>
        <div class="card-body">


            <div class="row">
                <table class="table table-bordered">
                    <thead class="table">
                        <tr>
                            <th>PaxNo</th>
                            <th>PaxType</th>
                            <th>Title</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Other details</th>
                            <th>Net</th>
                            <th>Agent</th>
                            <th>Selling</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int paxNo = 1;
                        }
                        @for (int i = 0; i < Model.adtPaxs.Count; i++)
                        {
                        <tr>
                            <td>@(paxNo.ToString())</td>
                            <td>@Model.adtPaxs[i].paxType</td>
                            <td>@Model.adtPaxs[i].title</td>
                            <td>@Model.adtPaxs[i].firstname</td>
                            <td>@Model.adtPaxs[i].middlename</td>
                            <td>@Model.adtPaxs[i].lastname</td>
                            <td>
                                @if (Model.adtPaxs[i].birthday != null && Model.adtPaxs[i].birthday.ToString("dd/MM/yyyy") != "01/01/0001")
                                {
                                    <div>DOB: @Model.adtPaxs[i].birthday.ToString("dd/MM/yyyy")</div>
                                }
                                @if (Model.adtPaxs[i].passportNumber != null && Model.adtPaxs[i].passportNumber.Length > 0)
                                {
                                    <div>Passport/ID Card: @Model.adtPaxs[i].passportNumber</div>
                                }
                                @if (Model.adtPaxs[i].passportIssuingCountry != null && Model.adtPaxs[i].passportIssuingCountry.Length > 0
                                    && Model.adtPaxs[i].passportNationality != null && Model.adtPaxs[i].passportNationality.Length > 0
                                    && Model.adtPaxs[i].passportIssuingDate.ToString("dd/MM/yyyy") != "01/01/0001"
                                    && Model.adtPaxs[i].passportExpiryDate.ToString("dd/MM/yyyy") != "01/01/0001")
                                {
                                    <div>Issue: @Model.adtPaxs[i].passportIssuingDate.ToString("dd/MM/yyyy")</div>
                                    <div>Expire: @Model.adtPaxs[i].passportExpiryDate.ToString("dd/MM/yyyy")</div>
                                    <div>Issuing Country: @Model.adtPaxs[i].passportIssuingCountry</div>
                                    <div>Nationality: @Model.adtPaxs[i].passportNationality</div>
                                }
                                @if (Model.adtPaxs[i].frequencyFlyerAirline != null && Model.adtPaxs[i].frequencyFlyerAirline.Length > 0)
                                {
                                    <div>Frequency Flyer Airline: @Model.adtPaxs[i].frequencyFlyerAirline</div>
                                    <div>Frequency Flyer No.: @Model.adtPaxs[i].frequencyFlyerNumber</div>
                                }
                                @if (Model.adtPaxs[i].mealRequest != null && Model.adtPaxs[i].mealRequest.Length > 0)
                                {
                                    <div>Meal Request: @Model.adtPaxs[i].mealRequest</div>
                                }
                                @if (Model.adtPaxs[i].seatRequest != null && Model.adtPaxs[i].seatRequest.Length > 0)
                                {
                                    <div>Seat Request: @Model.adtPaxs[i].seatRequest</div>
                                }
                                @if (Model.adtPaxs[i].kiwiBag != null && Model.adtPaxs[i].kiwiBag > 0)
                                {
                                    <div>kiwi Bag: @Model.adtPaxs[i].kiwiBag x @Model.adtPaxs[i].kiwiBagWeight KG. Total(฿): @Model.adtPaxs[i].kiwiBagPrice.ToString("N2") </div>
                                }
                            </td>
                            <td>@Model.adtFare.lessFare.ToString("N2")</td>
                            <td></td>
                            <td>@Model.adtFare.net.ToString("N2")</td>
                        </tr>


                            paxNo++;
                        }

                        @if (Model.chdPaxs.Count > 0 && Model.chdPaxs != null)
                        {
                            for (int j = 0; j < Model.chdPaxs.Count; j++)
                            {
                            <tr>
                                <td>@(paxNo.ToString())</td>
                                <td>@Model.chdPaxs[j].paxType</td>
                                <td>@Model.chdPaxs[j].title</td>
                                <td>@Model.chdPaxs[j].firstname</td>
                                <td>@Model.chdPaxs[j].middlename</td>
                                <td>@Model.chdPaxs[j].lastname</td>
                                <td>
                                    @if (Model.chdPaxs[j].birthday != null && Model.chdPaxs[j].birthday.ToString("dd/MM/yyyy") != "01/01/0001")
                                    {
                                        <div>DOB: @Model.chdPaxs[j].birthday.ToString("dd/MM/yyyy")</div>
                                    }
                                    @if (Model.chdPaxs[j].passportNumber != null && Model.chdPaxs[j].passportNumber.Length > 0)
                                    {
                                        <div>Passport/ID Card: @Model.chdPaxs[j].passportNumber</div>
                                    }
                                    @if (Model.chdPaxs[j].passportIssuingCountry != null && Model.chdPaxs[j].passportIssuingCountry.Length > 0
                                        && Model.chdPaxs[j].passportNationality != null && Model.chdPaxs[j].passportNationality.Length > 0
                                        && Model.chdPaxs[j].passportIssuingDate.ToString("dd/MM/yyyy") != "01/01/0001"
                                        && Model.chdPaxs[j].passportExpiryDate.ToString("dd/MM/yyyy") != "01/01/0001")
                                    {
                                        <div>Issue: @Model.chdPaxs[j].passportIssuingDate.ToString("dd/MM/yyyy")</div>
                                        <div>Expire: @Model.chdPaxs[j].passportExpiryDate.ToString("dd/MM/yyyy")</div>
                                        <div>Issuing Country: @Model.chdPaxs[j].passportIssuingCountry</div>
                                        <div>Nationality: @Model.chdPaxs[j].passportNationality</div>
                                    }
                                    @if (Model.chdPaxs[j].frequencyFlyerAirline != null && Model.chdPaxs[j].frequencyFlyerAirline.Length > 0)
                                    {
                                        <div>Frequency Flyer Airline: @Model.chdPaxs[j].frequencyFlyerAirline</div>
                                        <div>Frequency Flyer No.: @Model.chdPaxs[j].frequencyFlyerNumber</div>
                                    }
                                    @if (Model.chdPaxs[j].mealRequest != null && Model.chdPaxs[j].mealRequest.Length > 0)
                                    {
                                        <div>Meal Request: @Model.chdPaxs[j].mealRequest</div>
                                    }
                                    @if (Model.chdPaxs[j].seatRequest != null && Model.chdPaxs[j].seatRequest.Length > 0)
                                    {
                                        <div>Seat Request: @Model.chdPaxs[j].seatRequest</div>
                                    }
                                    @if (Model.chdPaxs[j].kiwiBag != null && Model.chdPaxs[j].kiwiBag > 0)
                                    {
                                        <div>kiwi Bag: @Model.chdPaxs[j].kiwiBag x @Model.chdPaxs[j].kiwiBagWeight KG. Total(฿): @Model.chdPaxs[j].kiwiBagPrice.ToString("N2") </div>
                                    }
                                </td>
                                <td>@Model.chdFare.lessFare.ToString("N2")</td>
                                <td></td>
                                <td>@Model.chdFare.net.ToString("N2")</td>
                            </tr>
                                paxNo++;
                            }

                        }

                        @if (Model.infPaxs.Count > 0 && Model.infPaxs != null)
                        {
                            for (int j = 0; j < Model.infPaxs.Count; j++)
                            {
                            <tr>
                                <td>@(paxNo.ToString())</td>
                                <td>@Model.infPaxs[j].paxType</td>
                                <td>@Model.infPaxs[j].title</td>
                                <td>@Model.infPaxs[j].firstname</td>
                                <td>@Model.infPaxs[j].middlename</td>
                                <td>@Model.infPaxs[j].lastname</td>
                                <td>
                                    @if (Model.infPaxs[j].birthday != null && Model.infPaxs[j].birthday.ToString("dd/MM/yyyy") != "01/01/0001")
                                    {
                                        <div>DOB: @Model.infPaxs[j].birthday.ToString("dd/MM/yyyy")</div>
                                    }
                                    @if (Model.infPaxs[j].passportNumber != null && Model.infPaxs[j].passportNumber.Length > 0)
                                    {
                                        <div>Passport/ID Card: @Model.infPaxs[j].passportNumber</div>
                                    }
                                    @if (Model.infPaxs[j].passportIssuingCountry != null && Model.infPaxs[j].passportIssuingCountry.Length > 0
                                        && Model.infPaxs[j].passportNationality != null && Model.infPaxs[j].passportNationality.Length > 0
                                        && Model.infPaxs[j].passportIssuingDate.ToString("dd/MM/yyyy") != "01/01/0001"
                                        && Model.infPaxs[j].passportExpiryDate.ToString("dd/MM/yyyy") != "01/01/0001")
                                    {
                                        <div>Issue: @Model.infPaxs[j].passportIssuingDate.ToString("dd/MM/yyyy")</div>
                                        <div>Expire: @Model.infPaxs[j].passportExpiryDate.ToString("dd/MM/yyyy")</div>
                                        <div>Issuing Country: @Model.infPaxs[j].passportIssuingCountry</div>
                                        <div>Nationality: @Model.infPaxs[j].passportNationality</div>
                                    }
                                    @if (Model.infPaxs[j].frequencyFlyerAirline != null && Model.infPaxs[j].frequencyFlyerAirline.Length > 0)
                                    {
                                        <div>Frequency Flyer Airline: @Model.infPaxs[j].frequencyFlyerAirline</div>
                                        <div>Frequency Flyer No.: @Model.infPaxs[j].frequencyFlyerNumber</div>
                                    }
                                    @if (Model.infPaxs[j].mealRequest != null && Model.infPaxs[j].mealRequest.Length > 0)
                                    {
                                        <div>Meal Request: @Model.infPaxs[j].mealRequest</div>
                                    }
                                    @if (Model.infPaxs[j].seatRequest != null && Model.infPaxs[j].seatRequest.Length > 0)
                                    {
                                        <div>Seat Request: @Model.infPaxs[j].seatRequest</div>
                                    }
                                    @if (Model.infPaxs[j].kiwiBag != null && Model.infPaxs[j].kiwiBag > 0)
                                    {
                                        <div>kiwi Bag: @Model.infPaxs[j].kiwiBag x @Model.infPaxs[j].kiwiBagWeight KG. Total(฿): @Model.infPaxs[j].kiwiBagPrice.ToString("N2") </div>
                                    }
                                </td>
                                 <td>@Model.infFare.lessFare.ToString("N2")</td>
                                <td></td>
                                <td>@Model.infFare.net.ToString("N2")</td>
                            </tr>
                                paxNo++;
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-sm-flex align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-plane"></i>&nbsp;Booking Pax Fare</h6>
            </div>
        </div>
        <div class="card-body">


            <div class="row">
                <table class="table table-bordered">
                    <thead class="table">
                        <tr>
                            <th>No</th>
                            <th>PaxType</th>
                            <th>Fare with tax</th>
                            <th>Fare without tax</th>
                            <th>tax</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int fareNo = 1;
                        }
                        @if (Model.adtFare != null)
                        {

                            <tr>
                                <td>@(fareNo.ToString())</td>
                                <td>@Model.adtPaxs[0].paxType</td>
                                <td>@Model.adtFare.net.ToString("N2")</td>
                                <td>@Model.adtFare.sellingBaseFare.ToString("N2")</td>
                                <td>@Model.adtFare.tax.ToString("N2")</td>
                            </tr>


                            fareNo++;
                        }

                        @if (Model.chdFare != null)
                        {

                            <tr>
                                <td>@(fareNo.ToString())</td>
                                <td>@Model.chdPaxs[0].paxType</td>
                                <td>@Model.chdFare.net.ToString("N2")</td>
                                <td>@Model.chdFare.sellingBaseFare.ToString("N2")</td>
                                <td>@Model.chdFare.tax.ToString("N2")</td>
                            </tr>


                            fareNo++;
                        }

                        @if (Model.infFare != null)
                        {

                            <tr>
                                <td>@(fareNo.ToString())</td>
                                <td>@Model.infPaxs[0].paxType</td>
                                <td>@Model.infFare.net.ToString("N2")</td>
                                <td>@Model.infFare.sellingBaseFare.ToString("N2")</td>
                                <td>@Model.infFare.tax.ToString("N2")</td>
                            </tr>


                            fareNo++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>




    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-sm-flex align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-plane"></i>&nbsp;Flight Details</h6>
            </div>
        </div>
        <div class="card-body">


            <div class="row">
                <table class="table table-bordered">
                    <thead class="table">
                        <tr>
                            <th>Route No.</th>
                            <th>Segment No.</th>
                            <th>From City</th>
                            <th>To City</th>
                            <th>Market Airline</th>
                            <th>Operate Airline</th>
                            <th>Flight No.</th>
                            <th>RBD</th>
                            <th>Fare Basis</th>
                            <th>Fare Type</th>
                            <th>Departure DateTime</th>
                            <th>Arrival DateTime</th>
                            <th>Airline Control Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int flightNo = 1;
                        }
                        @if (Model.depFlight != null && Model.depFlight.Count > 0)
                        {
                            for (int i = 0; i < Model.depFlight.Count; i++)
                            {

                        <tr>
                            <td>@(flightNo.ToString())</td>
                            <td>@Model.depFlight[i].Seq</td>
                            <td>@Model.depFlight[i].depCity.code</td>
                            <td>@Model.depFlight[i].arrCity.code</td>
                            <td>@Model.depFlight[i].airline.code</td>
                            <td>@Model.depFlight[i].operatedAirline.code</td>
                            <td>@Model.depFlight[i].flightNumber</td>
                            <td>@Model.depFlight[i].rbd</td>
                            <td>@Model.depFlight[i].fareBasis</td>
                            <td>@Model.depFlight[i].fareType</td>
                            <td>@Model.depFlight[i].departureDateTime.ToString("dd MMM yyyy HH:mm tt")</td>
                            <td>@Model.depFlight[i].arrivalDateTime.ToString("dd MMM yyyy HH:mm tt")</td>
                            <td>@Model.depFlight[i].controlNumber</td>
                        </tr>

                            }


                        }

                        @if (Model.retFlight != null && Model.retFlight.Count > 0)
                        {
                            flightNo++;
                            for (int i = 0; i < Model.retFlight.Count; i++)
                            {

                    <tr>
                        <td>@(flightNo.ToString())</td>
                        <td>@Model.retFlight[i].Seq</td>
                        <td>@Model.retFlight[i].depCity.code</td>
                        <td>@Model.retFlight[i].arrCity.code</td>
                        <td>@Model.retFlight[i].airline.code</td>
                        <td>@Model.retFlight[i].operatedAirline.code</td>
                        <td>@Model.retFlight[i].flightNumber</td>
                        <td>@Model.retFlight[i].rbd</td>
                        <td>@Model.retFlight[i].fareBasis</td>
                        <td>@Model.retFlight[i].fareType</td>
                        <td>@Model.retFlight[i].departureDateTime.ToString("dd MMM yyyy HH:mm tt")</td>
                        <td>@Model.retFlight[i].arrivalDateTime.ToString("dd MMM yyyy HH:mm tt")</td>
                        <td>@Model.retFlight[i].controlNumber</td>
                    </tr>

                                flightNo++;
                            }


                        }
                        @if (Model.multiFlight != null && Model.multiFlight.Count > 0)
                        {
                            for (int i = 0; i < Model.multiFlight.Count; i++)
                            {
                                for (int j = 0; j < Model.multiFlight[i].Count; j++)
                                {
                    <tr>
                        <td>@(flightNo.ToString())</td>
                        <td>@Model.multiFlight[i][j].Seq</td>
                        <td>@Model.multiFlight[i][j].depCity.code</td>
                        <td>@Model.multiFlight[i][j].arrCity.code</td>
                        <td>@Model.multiFlight[i][j].airline.code</td>
                        <td>@Model.multiFlight[i][j].operatedAirline.code</td>
                        <td>@Model.multiFlight[i][j].flightNumber</td>
                        <td>@Model.multiFlight[i][j].rbd</td>
                        <td>@Model.multiFlight[i][j].fareBasis</td>
                        <td>@Model.multiFlight[i][j].fareType</td>
                        <td>@Model.multiFlight[i][j].departureDateTime.ToString("dd MMM yyyy HH:mm tt")</td>
                        <td>@Model.multiFlight[i][j].arrivalDateTime.ToString("dd MMM yyyy HH:mm tt")</td>
                        <td>@Model.multiFlight[i][j].controlNumber</td>
                    </tr>
                                }
                                flightNo++;
                            }


                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    if (Model.note != null)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="d-sm-flex align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-pen-square"></i>&nbsp;Note</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-1">
                            @Html.TextAreaFor(m => m.note, new { @class = "form-control form-control-sm", @cols = 90, @rows = 6, @readonly = "readonly", @style = "font-size:18px;" })
                            @*<textarea rows="5" cols="100" readonly>@Model.note</textarea>*@
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="text-right">

                            @*<a href="@Url.Action("FlightReportList")" class=" d-sm-inline-block btn btn-sm btn-warning shadow-sm">
                                    <i class="fas fa-chevron-circle-left fa-sm text-white-50"></i>
                                    Back
                                </a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @*</div>*@
}



@section Scripts
{
    <script>
    </script>
}

<style>
    .text {
        margin-bottom: 10px;
    }

    .d-sm-flex1 {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
    }
</style>
