@model GogojiiWeb.Models.SearchModel

@Html.Hidden("city_url", Url.Action("SearchCity", "Home"))
@using (Html.BeginForm("ResultList", "Flight", FormMethod.Get, new { @class = "form-horizontal form-label-left", role = "form", enctype = "multipart/form-data" }))
{
    @Html.Hidden("lang", Localize.GetLang())
    <div class="container">
        <div class="font-24 d-none"><strong>@Localize.Show("FIND_TRIP")</strong></div>
        <div class="row">
            <div class="col-12">
                <label class="radio">
                    @Localize.Show("ROUNDTRIP")
                    <input type="radio" @(Model.triptype == "R" ? "checked" : "") name="triptype" value="R">
                    <span class="checkround"></span>
                </label>
                <label class="radio">
                    @Localize.Show("ONEWAY")
                    <input type="radio" @(Model.triptype == "O" ? "checked" : "") name="triptype" value="O">
                    <span class="checkround"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 padding-lr-2">
                <div><strong>@Localize.Show("DEFINE_ORIGIN")</strong></div>
                <input name="origin" id="origin" type="text" value="@Model.origin" class="form-control form-search" placeholder="@Localize.Show("DEFINE_ORIGIN")" required />
            </div>
            <div class="col-lg-3 col-md-6 col-12 padding-lr-2">
                <div><strong>@Localize.Show("DEFINE_DESTINATION")</strong></div>
                <input name="destination" id="destination" type="text" value="@Model.destination" class="form-control form-search" placeholder="@Localize.Show("DEFINE_DESTINATION")" required />
            </div>
            <div class="col-lg-2 col-md-6 col-12 padding-lr-2">
                <div><strong>@Localize.Show("DEPARTING")</strong></div>
                <input name="departdate" id="departdate" type="text" value="@Model.departdateCalendarFormat()" class="form-control form-search" required readonly />
            </div>
            <div class="col-lg-2 col-md-6 col-12 padding-lr-2">
                <div><strong>@Localize.Show("RETURNING")</strong></div>
                <input name="returndate" id="returndate" type="text" value="@Model.returndateCalendarFormat()" class="form-control  form-search" placeholder="" readonly />
                <input name="onewaydate" id="onewaydate" type="text" value="" class="form-control form-search-disable" placeholder="@Model.returndateCalendarFormat()" style="display: none" disabled />
            </div>
            <div class="col-lg-2 col-md-6 col-12 padding-l-2">
                <div style="color: #ffffff">|</div>
                <button class="btn cust-btn search-btn" type="submit" id="submit"><i class="fas fa-search"></i> ค้นหาเที่ยวบิน</button>
            </div>
        </div>
        <input type="hidden" id="SHOW_OPTION" value="@Localize.Show("SHOW_OPTION")" />
        <input type="hidden" id="HIDE_OPTION" value="@Localize.Show("HIDE_OPTION")" />
        <div class="row row-mt">
            <div class="col-12">
                <strong>
                    <span id="spanADT">1</span> @Localize.Show("ADULTS")
                    <span id="spanCHD">0</span> @Localize.Show("CHILDREN")
                    <span id="spanINF">0</span> @Localize.Show("INFANTS"),
                    <span id="spanClass">@Localize.Show("ECONOMY")</span>,
                    <span id="spanAirline">@Localize.Show("ALL_AIRLINE")</span>
                    <u><span id="spanShowOption" style="margin-left: 10px; cursor:pointer;">@Localize.Show("SHOW_OPTION")</span></u>
                </strong>
            </div>
        </div>
        <div class="row row-mt" id="divOption" style="display: none;">
            <div class="col-lg-1 col-md-4 col-4 padding-r-2">
                <div><strong>@(Localize.Show("ADULTS"))(12+)</strong></div>
                <select class="form-control form-search" name="adult" id="adult">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
            </div>
            <div class="col-lg-1 col-md-4 col-4 padding-lr-2">
                <div><strong>@Localize.Show("CHILDREN") (2-12)</strong></div>
                <select class="form-control form-search" name="child" id="child">
                    @for (int i = 0; i <= 9 - Model.adult; i++)
                    {
                        <option>@i.ToString()</option>
                    }
                </select>
            </div>
            <div class="col-lg-1 col-md-4 col-4 padding-lr-2">
                <div><strong>@Localize.Show("INFANTS") (0-2)</strong></div>
                <select class="form-control form-search" name="infant" id="infant">
                    @for (int i = 0; i <= Model.adult; i++)
                    {
                        <option>@i.ToString()</option>
                    }
                </select>
            </div>
            <div class="col-lg-2 col-md-6 col-6 padding-lr-2">
                <div><strong>@Localize.Show("CLASS")</strong></div>
                <select class="form-control form-search" name="svc_class" id="svc_class">
                    <option value="Y" selected>@Localize.Show("ECONOMY")</option>
                    <option value="P">@Localize.Show("PREMIUM_ECONOMY")</option>
                    <option value="C">@Localize.Show("BUSINESS")</option>
                    <option value="F">@Localize.Show("FIRST")</option>
                </select>
            </div>
            <div class="col-lg-2 col-md-6 col-6 padding-lr-2">
                <div><strong>@Localize.Show("AIRLINES")</strong></div>
                @Html.DropDownList("airline", Model.GetAirlineSearchBox(), new { @class="form-control form-search" })
            </div>

        </div>

    </div>
}
    <script src="~/Scripts/input-add-minus.js"></script>
    <script src="~/Scripts/searchbox.js"></script>
    <script>
        $(document).ready(function () {
            $('#adult').val('@Model.adult');
            $('#child').val('@Model.child');
            $('#infant').val('@Model.infant');
            $('#svc_class').val('@Model.svc_class');
            $('#airline').val('@Model.airline');
            setOption();
        });
    </script>
