<div class="font-14 mt-1">
    @Localize.Show("PLEASE_PAY_BEFORE") <strong class="text-red">@ViewBag.Deadline</strong>
</div>
<div class="font-14 mt-1">
    <div>
        <strong>
            <img src="~/Images/799px-KBank_Logo.png" style="width:20px;" /> @Localize.Show("KBANK_TITLE")
        </strong>
    </div>
    <div>
        <strong>@Localize.Show("ACCOUNT_NO"):</strong> 057-1-66554-9
    </div>
    <div>
        <strong>@Localize.Show("ACCOUNT_NAME"):</strong> Gogoji Corporation Company Limited
    </div>
    <hr />
    <div>
        <strong>
            <img src="~/Images/scb.png" style="width:20px;" /> @Localize.Show("SCB_TITLE")
        </strong>
    </div>
    <div>
        <strong>@Localize.Show("ACCOUNT_NO"):</strong> 422-051917-6
    </div>
    <div>
        <strong>@Localize.Show("ACCOUNT_NAME"):</strong> Gogoji Corporation Company Limited
    </div>
    <hr />
    <div>
        <strong>
            <img src="~/Images/bbl.png" style="width:20px;" /> @Localize.Show("BBL_TITLE")
        </strong>
    </div>
    <div>
        <strong>@Localize.Show("ACCOUNT_NO"):</strong> 877-7-43887-3
    </div>
    <div>
        <strong>@Localize.Show("ACCOUNT_NAME"):</strong> Gogoji Corporation Company Limited
    </div>
    <hr />
    <div>
        <strong>
            <img src="~/Images/ktb_01.png" style="width:20px;" /> @Localize.Show("KTB_TITLE")
        </strong>
    </div>
    <div>
        <strong>@Localize.Show("ACCOUNT_NO"):</strong> 679-2-22447-2
    </div>
    <div>
        <strong>@Localize.Show("ACCOUNT_NAME"):</strong> Gogoji Corporation Company Limited
    </div>
    <div class="mt-2">
        <a class="btn cust-book-btn" href="@ViewBag.SubmitURL">Confirm</a>
    </div>
</div>