@model List<DataModel.PromotionGroupCode>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Promotion Group Code List</h6>
            <a href="@Url.Action("PromotionGroupCodeDetail", new { id = Guid.Empty })" class=" d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50"></i>
                Create New
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="grid" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align:center">Promotion Group Code</th>
                        <th style="text-align:center">Promotion Group Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var promo in Model)
                    {
                    <tr>
                        <td>@promo.PromotionGroupCode1</td>
                        <td>@Html.Raw(promo.PromotionGroupDescription)</td>                       
                        <td>
                            <a href="@Url.Action("PromotionGroupCodeDetail", new { id = promo.PromotionGroupCodeOID })">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        var isSave = '@Request["save"]';
        $(document).ready(function () {
            $('#grid').DataTable({
                columnDefs: [{
                    "orderable": false
                }]
            });

            if (isSave == 't') {
                new PNotify({
                    title: 'Success',
                    text: 'Data have been updated',
                    type: 'success',
                    styling: 'bootstrap3',
                    delay: 2000,
                    nonblock: {
                        nonblock: true
                    },
                    buttons: {
                        show_on_nonblock: true
                    }
                });
            }
        });

    </script>
}